/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */
 

#include "sofle_ergomech.dtsi"
#include "trackmouse.dtsi"
#include "sofle_ergomech-layouts.dtsi"
/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &layout_0;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

&dummy_encoder {
    status = "okay";
};

&uart0 {
    status = "disabled";
};

&xiao_serial {
    status = "disabled";
};

&trackball_listener{
        status = "okay";
};

