/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */
 

#include "sofle_ergomech.dtsi"
#include "trackmouse.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix-transform = &default_transform;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    dummy_encoder: dummy_left {
         compatible = "alps,ec11";
         a-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
         b-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
         steps = <80>;
         status = "okay";
     };

    left_encoder: encoder_left {
         compatible = "alps,ec11";
         a-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
         b-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
         steps = <80>;
         status = "disabled";
     };

     sensors: sensors {
         compatible = "zmk,keymap-sensors";
         sensors = <&left_encoder &dummy_encoder>;
         triggers-per-rotation = <40>;
     };
};

&uart0 {
    status = "disabled";
};

&xiao_serial {
    status = "disabled";
};

&trackball_listener{
        status = "okay";
};

