/{
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };
    
        trackball_listener: trackball_listner {
        compatible = "zmk,input-listener";
        device = <&trackball_split>;
        status = "disabled";
  };
};
